InventAPI/InventoryOnHand/CanvasApps/src/msbuild_inventonhand_22e8a/pkgs/Wadl/InventAPI_Connector2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/new-5finventapi-5fconnector2-5fad84488acc8b1b71" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="InventAPI_Connector2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="InventAPI_Connector2" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/new-5finventapi-5fconnector2-5fad84488acc8b1b71" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="InventOnHand_itemId_def" />
      <string name="InventOnHand_city_def" />
      <integer name="InventOnHand_numberInStock_def" />
      <object name="InventOnHand">
        <property name="itemId" type="string" />
        <property name="city" type="string" />
        <property name="numberInStock" type="integer" />
      </object>
      <string name="Item_itemId_def" />
      <string name="Item_name_def" />
      <string name="Item_description_def" />
      <number name="Item_price_def" />
      <object name="Item">
        <property name="itemId" type="string" />
        <property name="name" type="string" />
        <property name="description" type="string" />
        <property name="price" type="number" />
      </object>
      <string name="Warehouse_city_def" />
      <object name="Warehouse">
        <property name="city" type="string" />
      </object>
      <array typeRef="Warehouse" name="GetWarehouses_responses_200_def" />
      <array typeRef="Item" name="GetItems_responses_200_def" />
      <array typeRef="InventOnHand" name="GetInventOnHand_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/new-5finventapi-5fconnector2-5fad84488acc8b1b71">
    <resource path="/{connectionId}/Warehouse">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetWarehouses" actionName="GetWarehouses" siena:isDeprecated="false">
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetWarehouses_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Items">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetItems" actionName="GetItems" siena:isDeprecated="false">
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetItems_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/InventOnHand/{ItemId}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="ItemId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetInventOnHand" actionName="GetInventOnHand" siena:isDeprecated="false">
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetInventOnHand_responses_200_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_new-5finventapi-5fconnector2-5fad84488acc8b1b71" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>